<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>Document</title>
</head>
<body>
<!--pipelines for templating-->
<!--<h1>{{.}}</h1> -->
<ul>
    {{range .}}
    <li>{{.}}</li>
    {{else}} <!--if there isn't anything to range over-->
    <li>NO ITEMS</li> 
    {{end}}
</ul>
</body>
</html>